:root {
  --primary-title-color: #ffffff;
  --secondary-title-color: #303030;
  --primary-text-color: #555555;
  --secondary-text-color: #303030;
  --third-text-color: #9da4bd;
  --white-title-color: #ffffff;
  --accent-color: #ff6c00;
}

body {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
}
/* GENERAL */
h1,
h2,
h3,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.btn {
  width: 160px;
  height: 40px;
  border: 1px solid var(--accent-color);
  border-radius: 25px;
  padding: 0;
  margin: 0;
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
}

.pre-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.after-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

.title {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  letter-spacing: 0.05em;
}

/*------------------- HEADER -------------------- */

.header {
  background-color: #ccc;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-container {
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;
  align-items: center;
}
.header-list {
  display: flex;
}
.header-item:not(:last-child) {
  margin-right: 40px;
}
.header-contacts {
  margin-left: auto;
}
.header-logo {
  margin-right: 70px;
}

.header-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--white-title-color);
}
.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.header-tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--white-title-color);
  margin-right: 40px;
}

.header-btn {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--white-title-color);
  background-color: transparent;
}

/* ------------------- HERO ----------------- */

.hero {
  background-color: var(--secondary-title-color);
}

.hero-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--secondary-title-color);
}

.hero-link:hover,
.hero-link:focus {
  color: var(--accent-color);
}

.hero-pre-title {
  color: rgba(157, 164, 189, 0.6);
}

.hero-title {
  font-size: 72px;
  line-height: 1.18;
  color: var(--primary-title-color);
}
.hero-after-title {
  color: var(--third-text-color);
}

/* -------------------------- ABOUT --------------------------- */

.about {
  background-color: teal;
}

.about-pre-title {
  color: var(--secondary-text-color);
}
.about-title {
  font-size: 42px;
  line-height: 1.17;
  color: var(--secondary-text-color);
}

.about-after-title {
  color: var(--primary-text-color);
}

.about-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.about-button {
  color: var(--secondary-text-color);
}

/* -------------------------- PRICES --------------------------- */

.prices {
  background-color: tomato;
}
.prices-pre-title {
  color: rgba(157, 164, 189, 0.6);
}
.prices-title {
  font-size: 42px;
  line-height: 1.17;
  color: var(--primary-title-color);
}
.prices-type {
  font-weight: normal;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--third-text-color);
}

.prices-count {
  font-weight: normal;
  font-size: 18px;
  line-height: 1.67;
  text-align: right;
  letter-spacing: 0.02em;
  color: var(--third-text-color);
}

.prices-button {
  color: var(--primary-title-color);
}

/* -------------------------- REASONS --------------------------- */

.reasons-count {
  font-weight: bold;
  font-size: 42px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.05em;
  color: var(--secondary-text-color);
}

.reasons-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: var(--secondary-text-color);
}
.reasons-pre-title {
  color: var(--secondary-text-color);
}

.reasons-title {
  font-size: 42px;
  line-height: 1.17;
  color: var(--secondary-title-color);
}

/* -------------------------- TEAM --------------------------- */
.team {
  background-color: steelblue;
}
.team-pre-title {
  color: var(--secondary-text-color);
}
.tean-title {
  font-size: 42px;
  line-height: 1.17;
  color: var(--secondary-text-color);
}
.team-name {
  font-weight: normal;
  font-size: 18px;
  line-height: 1.39;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}
.team-position {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

/* -------------------------- GALLERY --------------------------- */
.gallery {
  background-color: teal;
}
.gallery-pre-title {
  color: var(--secondary-title-color);
}

/* -------------------------- ONLINE --------------------------- */
.online {
  background-color: wheat;
}
.online-title {
  font-size: 42px;
  line-height: 1.67;
  color: var(--primary-title-color);
}
/* -------------------------- CONTACTS --------------------------- */
.contacts {
  background-color: wheat;
}
.contacts-title {
  color: var(--primary-title-color);
}
.adress-item {
  font-weight: normal;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  text-decoration-line: underline;
  color: var(--third-text-color);
}
.time {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--white-title-color);
}
.adress-time {
  font-weight: normal;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--third-text-color);
}
/* -------------------------- FOOTER --------------------------- */
.footer {
  background-color: yellow;
}

.copyright {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--third-text-color);
}

.footer-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--secondary-title-color);
}
.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}
